Package: ru.rj.amongos
Name: AmongOS
Version: 2.1
Description: Тема по мотивам игры Among Us! Hey imposter, it\'s for you!
Author: Azmy
Depends: com.anemonetheming.anemone | com.spark.snowboard
Icon: https://i.ibb.co/nRBQhMc/320-A5289-78-DE-4-B0-D-BAC8-8-DCF48355-C7-D.png
Section: Themes
Architecture: iphoneos-arm
Maintainer: ReJail <rejail@rejail.ru>
Depiction: https://rejail.ru/depiction.php?file=amongos
SileoDepiction: https://rejail.ru/sileo/depiction.php?file=amongos
Installed-Size: 21341
